*{
  margin: 0;
  padding: 0;
  /* box-sizing: 0; */
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #7a767633;
}
main{
    background-color: #c5c4c4;
}

header{
  background-color: rgba(65, 61, 61, 0.842);
  /* position: sticky;
  top: 0px; */
}
/* taglist which is the first container  */
.taglist{
  margin-left: 50px;
  width: 90%;
  font-family: system-ui, 'Helvetica Neue';
  position: relative;
  overflow: hidden;
  padding: 10px 10px;

}
.inner{
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 8s linear infinite;
}
.tag{
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: rgb(149, 159, 184);
  font-size: 0.9rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 0.4rem 0.7rem;
  border-radius: 0.4rem;
  box-shadow: 
    0 0.1rem 0.2rem rgb(61, 59, 59),
    0 0.1rem 0.5rem rgb(61, 59, 59),
    0 0.2rem 1.5rem rgb(61, 59, 59);

}
.tag span{
  font-size: 1.1rem;
  color: #64744b;
}
.fade{
  position: absolute;
  background: linear-gradient(90deg)
  #1e293b, transparent 30%,
  transparent 70%, #1e293b;
  inset: 0;
  pointer-events: none;
}
@keyframes loop{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-40%);
  }
  
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 20px;
    background-color: gray;
    /* position: relative; */
}
ul{
    display: flex;
}
a{
  text-decoration: none;
}

ol a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 13px;
    color: #adadad;
}
ol:hover a{
  background-color: #fff;
  padding: 6px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  transform: scale(1.05);

}
.fa-solid{
  font-size: 15px;
  /* color: #adadad; */
}

.img1{
  width: 65px;
  height: 50px;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 3px;
}

.search-container {
      position: relative;
      display: inline-block;
      margin-left: 320px;
    }

    .search-input {
      width: 0;
      padding: 8px 10px;
      border: none;
      border-radius: 20px;
      transition: width 0.4s ease;
      opacity: 0;
      outline: none;
      background-color: rgb(255, 255, 255);
      position: absolute;
      right: 0;
      z-index: 1;
    }

    .search-container:hover .search-input,
    .search-input:focus {
      width: 200px;
      opacity: 1;
      border: 1px solid #adadad;
    }
    
    .search-icon {
      font-size: 20px;
      color: #333;
      cursor: pointer;
      padding: 6px;
      border-radius: 50%;
      background-color: rgb(221, 221, 221);
      display: inline-block;
      z-index: 2;
    }
    main{
        padding-left: 20px;
    }
    h1{
        text-align: center;
      font-size: 42px;
      margin: 0 0 20px 20px;
      position: relative;
      animation: slide-right 3s ease-in-out forwards;
    }

    @keyframes slide-right {
      0% {
        left: -100%;
        opacity: 0;
      }
      100% {
        left: 0;
        opacity: 1;
      }
    }
    ul li{
        list-style-type: circle;
        display: block;
        margin-right: 20px;
        font-size: 18px;
        /* color: #adadad; */
    }
    h2{
        text-align: center;
        font-size: 29px;
    }
    p{

    }




    footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 20px 0 20px ;
    background-color: #000;
    color: white;
   }
   .soc1 a{
    color: white;
   }
   .foot2{
    width: 35%;
   }
   
   .news2, input[type="email"]{

      width: 70%;
      padding-left: 5px;
      padding: 8px 0 8px 10px;
      margin-bottom: 20px;
      
   }
   .tub{
    padding: 8px 15px 8px  15px;
    margin-top: 10px;
    margin-left: 10px;
   }
   .to{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000;
   }
   .tor{
    margin-bottom: 20px;
    padding: 11px 25px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #382f2f;
    /* border: none; */
   }
   .tor:hover{
    background-color: #888;
   }
   .tor a{
    color: #777;
   }

   .tor:hover a{
    color: #000;
    font-weight: 600;
   }